.title {
	font-size: 44px;
	font-weight: bold;
}

.panel {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(135, 135, 135, 0.65);
	border: 2px solid rgba(19, 19, 27, 0.17);
	font: 16px "Calibri", Aria;
}

.panel-center {
	position: relative;
	width: 70%;
	left: 25vw;
	margin-bottom: 15%;
	top: 6vw;
	font: 16px "Calibri", Aria;
}

.manage-panel {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(125, 122, 122, 0.85);
	border: 2px solid rgba(19, 19, 27, 0.17);
	padding: 1% 6% 10% 8%;
	position: relative;
	width: 70%;
	left: 8vw;
	margin-bottom: 15%;
	top: 6vw;
}

.jqgrid-container {
	height: 48%;
	width: 97%;
	padding-bottom: 5%;
}

.leftButton-1-2 {
	display: inline;
	width: 40%;
	height: inherit;
	font-size: 1.5vw;
	font-weight: bold;
	margin-left: 20%;	
}

.rightButton-2-2 {
	display: inline;
	width: 40%;
	height: inherit;
	font-size: 1.5vw;
	font-weight: bold;
	margin: 0%;
}

.centerButton-1 {
	display: inline;
	width: 500px;
	height: 300px;
	font-size: 18px;
	font-weight: bold;
	margin: 0px;	
	margin-left: 400px;	
	font: bold 30px "Calibri", Arial; 
	text-align: center;
}

.form-label {	
    font: bold 1.3vw "Calibri",Aria;
    text-align: right;
    padding: 10px 40px 10px 150px;
}

.form-input {
	font: 1.3vw "Calibri",Aria;
	margin: 2px;
	width: 80%;
}

.form-button{
    font: bold 1.4vw "Calibri",Aria;
    width: 80%;
    height: 40px;
    margin: 10px 10px 10px 0px;
}

.label-column {
	width: 13%;
}

.input-column {
	width: 10%;
}

.button-column {
	width: 20%;
}

.ans-label-column {
	width: 15%;
}

.ans-input-column {
	width: 20%;
}

.ans-button-column {
	width: 20%;
}

.answer-panel {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: rgba(125, 122, 122, 0.85);
	border: 2px solid rgba(19, 19, 27, 0.17);	
	padding: 1% 6% 6% 8%;
	position: relative;
	width: 70%;
	left: 8vw;
	margin-bottom: 15%;
	top: 6vw;
}


.answer-form-label {	
	font: bold 1.4vw "Calibri",Aria;
	text-align: right;
	padding: 1% 1% 1% 20%;
}

.answer-form-input {
    font: 1.2vw "Calibri",Aria;
    margin: 0.1%;
    width: 80%;
}

.answer-form-button{
    font: bold 18px "Calibri",Aria;
    width: 80%;
    height: 40px;
}

.object-label {
    font: bold 1.2vw "Calibri",Aria;
    text-align: right;
    padding: 10px 50px 10px 150px;
}

.object-value {
	font: 1.3vw "Calibri",Aria;
	margin: 1%;
	width: 70%;
}

.button-1-row-div {
	padding-top: 150px;
	height: 300px;
}

.button-2-row-div-1 {
	padding-top: 10%;
}

.button-2-row-div-2 {
	padding-top: 0.5%;
	height: 50% !important;
	margin-left: 20%;
}

.select-survey {	
	height: 10%;
	width: 50%;
	font: bold 1.5vw"Calibri",Aria;
	margin: 0.2%;
}

.open-form-input {	
	height: 50px;
	width: 85%;
	margin-left: 70px;
	background: rgba(209, 209, 255, 0.39);
	border: 2px rgba(210, 212, 242, 0.68);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
	font: 18px "Calibri",Aria;	
}

.radio-label {	
    font: bold 20px "Calibri",Aria;
    padding-right: 30px;
    text-align: right;    
}

.select-list-div {
	padding-left:150px;
	width: 700px !important;
}

.header {
	height: 10%;
	width: 100%;
	position:relative;
	float: left;
}

.row {
	display: inline;
}

.logoutUrl {
	display: inline;
	width: 10%;
	text-align: right		
}

.top-left-corner{
	position:relative;
	float: right;
}

.flag-en {
	background: url('/DentaSurvey/resources/images/en_flag.gif') no-repeat scroll 0% 0% rgba(0, 0, 0, 0.33) !important;
	padding: 10 30 !important 
}

.flag-pl {
	background: url('/DentaSurvey/resources/images/pl_flag.gif') no-repeat scroll 0% 0% rgba(0, 0, 0, 0.33) !important;
	padding: 10 30 !important
}

.mainUrl {
	position:relative;
	float: right;
	width:15%;	
}