body {
	background: url('/DentaSurvey/resources/images/greyback1.jpg') no-repeat scroll 0% 0% rgba(0, 0, 0, 0.33) !important;
	background: rgba(201,201,201,1);
	background: -moz-linear-gradient(left, rgba(201,201,201,1) 0%, rgba(201,201,201,1) 8%, rgba(196,196,196,1) 22%, rgba(186,186,186,1) 43%, rgba(186,186,186,1) 68%, rgba(227,227,227,1) 92%, rgba(227,227,227,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(201,201,201,1)), color-stop(8%, rgba(201,201,201,1)), color-stop(22%, rgba(196,196,196,1)), color-stop(43%, rgba(186,186,186,1)), color-stop(68%, rgba(186,186,186,1)), color-stop(92%, rgba(227,227,227,1)), color-stop(100%, rgba(227,227,227,1)));
	background: -webkit-linear-gradient(left, rgba(201,201,201,1) 0%, rgba(201,201,201,1) 8%, rgba(196,196,196,1) 22%, rgba(186,186,186,1) 43%, rgba(186,186,186,1) 68%, rgba(227,227,227,1) 92%, rgba(227,227,227,1) 100%);
	background: -o-linear-gradient(left, rgba(201,201,201,1) 0%, rgba(201,201,201,1) 8%, rgba(196,196,196,1) 22%, rgba(186,186,186,1) 43%, rgba(186,186,186,1) 68%, rgba(227,227,227,1) 92%, rgba(227,227,227,1) 100%);
	background: -ms-linear-gradient(left, rgba(201,201,201,1) 0%, rgba(201,201,201,1) 8%, rgba(196,196,196,1) 22%, rgba(186,186,186,1) 43%, rgba(186,186,186,1) 68%, rgba(227,227,227,1) 92%, rgba(227,227,227,1) 100%);
	background: linear-gradient(to right, rgba(201,201,201,1) 0%, rgba(201,201,201,1) 8%, rgba(196,196,196,1) 22%, rgba(186,186,186,1) 43%, rgba(186,186,186,1) 68%, rgba(227,227,227,1) 92%, rgba(227,227,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#e3e3e3', GradientType=1 );
}


h3 {
	font: bold 44px "Calibri", Arial;
	margin-top: 10px;
}

button {
	width: 100px;
	height: 30px;
	font-size: 18px;
	color: #1E4F92;
	font-weight: bold;
	box-shadow:inset 0px 0px 1px rgba(79,122,162,1);
	color: #1E4F92;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

