#accessDeniedPanel {
	width: 40%;
	font: bold 3vw "Calibri",Arial;
	text-align: center;
}

#surveyDonePanel {
	width: 55%;
	font: bold 2vw "Calibri",Arial;
	text-align: center;	
}

#patientPanelButton, 
#adminPanelButton,
#manageSurveys, 
#managePatiens {
	width: 30%;
	height: inherit ;
	margin: 0px ;	
}	

#manageSurveys2, 
#managePatiens2 {
	width: 30%;
	height: 30% ;
	margin: 0px ;	
}	


#manageUses {
	width: 75.5%;
	height: inherit;
	margin: 0%;
}

#survey-add-panel, 
#survey-update-panel {
	height: 200px;
}

#open-submit-button {
	width: 100px;
	margin-left: 82%;
}

#selectSurveyPanel {
	margin: 1% 1% 1% 35%;
}

#teeth-panel {
	background: none repeat scroll 0% 0% #FFF;
	margin-left: 15%;
	padding: 5% 20%;
	width: 25%;
	border-radius: 10px;
	border: solid rgba(96, 27, 27, 0.58);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#teeth-submit-button {
	margin: 1% 1% 1% 15%;
	width: 65%;
}