#accessDeniedPanel {
	width:400px;
	font: bold 30px "Calibri", Arial; 
	text-align: center;
}

#surveyDonePanel {
	width:600px;
	font: bold 30px "Calibri", Arial; 
	text-align: center;
}

#patientPanelButton {
	width: 350px;
	height: inherit;
	margin: 0px;
}

#adminPanelButton {
	width: 350px;
	height: inherit ;
	margin: 0px ;
}

#manageSurveys {
	width: 350px;
	height: inherit ;
	margin: 0px ;
}

#managePatiens {
	width: 350px;
	height: inherit ;
	margin: 0px ;	
}

#manageUses {
	width: 705px;
	height: inherit ;
	margin: 0px ;
}

#manageSurveys2 {
	width: 350px;
	height: inherit ;
	margin: 0px ;
}

#managePatiens2 {
	width: 350px;
	height: inherit ;
	margin: 0px ;	
}	

#survey-add-panel, 
#survey-update-panel {
	height: 200px;
}

#question-submit-button, 
#question-update-button{
	margin: 10px 10px 10px 600px;
}

#possibleAnswer-submit-button, 
#possibleAnswer-update-button,
#ansSurvey-submit-button {
	margin: 10px 10px 10px 700px;
}

#open-submit-button {
	margin: 10px 10px 10px 770px;
}

#user-update-button, #user-submit-button, #patient-submit-button {
	margin: 10px 10px 10px 630px;	
}

#selectSurveyPanel {
	margin: 10px 10px 10px 400px;
}

#teeth-panel {
	background: none repeat scroll 0% 0% #FFF;
	margin-left: 150px;
	padding: 50px 200px;
	width: 200px;
	border-radius: 10px;
	border: solid rgba(96, 27, 27, 0.58);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#teeth-submit-button {
	margin: 10px 10px 10px 650px;
}