.error {
	padding: 3%;
	margin-bottom: 5%;
	border: 1px solid rgba(173, 36, 58, 0.56);
	border-radius: 4px;
	color: rgba(170, 17, 14, 1);
	background-color: rgba(236, 113, 113, 1);
}
 
.msg {
	padding: 3%;
	margin-bottom: 5%;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
 
#login-box {
	width: 40%;
	margin: 10% auto;
	padding: 5%;	
}

.login-lebel {
	width: 25%;
	float: left;
	display: inline;
	text-align: right;
	padding: 2% 2% 0% 0%;
	font: 1.3vw "Calibri",Aria;
	margin-right: 7%;
}

.login-box {
	float: left;
	display: inline;
	width: 60%;
	margin: 0% 0% 1% 0%;
}

.login-input {
	width: 100%;
	padding: 3% 4% 3% 3%;
	border: 1px solid rgba(249, 249, 249, 0.37);
	background-color: rgba(211, 226, 243, 0.43);
	font-size: 1.2vw;
	color: #FFF;
}

.login-button {
	width: 20%;
	height: 7%;
	font-size: 1.3vw;
	font-weight: bold;
	margin: 2% 2% 1% 74%;
}
